---
# play which gives the gid of the group to create with the new user
- name: Calculate GID
  hosts: projet5
  vars:
    final_gid: "0"
  tasks:
  - name: Get all groups info
    getent:
      database: group
      split: ":"
  - name: Create a list of gid
    set_fact:
      unique_list: "{{ (unique_list | default([]) + [item]) | unique | map('int')}}"
    loop: "{{ getent_group | dict2items | map(attribute='value') | map(attribute='1') }}"
  - name: Get greater value from the list
    set_fact:
      result: "{{ unique_list | reject('ge', 3999) | list | max }}"
  - name: Print the value
    debug:
      msg: "The index of the greatest number in the list is {{ result }}"